#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}




body{
  background-color: #d1b7d3;
}
.movies-container{
  max-width: 500px;
  margin: 50px auto;
  background: #61337d;
  padding: 25px;
  border-radius: 10px;
}
.add-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.add-container input{
  padding: 8px;
  border-radius: 5px;
}
.add-container button{
  padding: 8px 15px;
  border-radius: 5px;
  background-color: #88acd3;
  color: #ffffff;
}
.movie-item{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #88acd3;
  border-radius: 5px;

}
.movie-item button{
  padding: 10px;
  border-radius: 5px;
  background-color: #9e88d3;
  color: #ffffff;
}